* {
  margin: 0;
  box-sizing: border-box;
}

main {
  background: linear-gradient(225deg, #a3a9aa 15%, #5bee92 70%);
}

body {
  font-family: sans-serif;
}

/*---------Estilos del Header---------------*/
.header {
  height: 100px;
}

.header .contenedor {
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  background: rgba(6, 6, 6, 0.9);
}

.logo,
.icon-menu {
  margin: 8px;
  color: #fff;
}

.icon-menu {
  display: block;
  width: 45px;
  height: 45px;
  font-size: 40px;
  background: rgb(196, 19, 19);
  color: white;
  text-align: center;
  line-height: 50px;
  border-radius: 8px;
  margin-left: auto;
  cursor: pointer;
}

.nav {
  position: absolute;
  top: 60px;
  left: -100%;
  width: 100%;
  transition: all 0.5s;
  z-index: 100;

}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 60px;
}

.menu__link {
  font: 11px verdana;
  display: block;
  padding: 45px 25px;
  background: rgba(51, 51, 51, 0.9);
  text-decoration: none;
  color: #fff;
  height: 100px;
  font-size: 20px;
  border-bottom: 5px solid #fff;
}

.menu__link:hover {
  background: white;
  color: #000;
}

/*esto revisar de muestrate si no lo encuentro borrarlo*/
.muestrate {
  left: 0;
}

.header .contenedor img {
  object-fit: contain;
  width: 300px;
  height: 85px;
  filter: drop-shadow(10px 15px 10px #ffffff);
}

/*-------Estilos del Banner-----*/
.ban {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(225deg, #a3a9aa 15%, #5bee92 70%);
  /* position: relative; */
}

/*revisar esto tambien este contenedor*/
.contenedor {
  width: 100%;
  margin: auto;
}

.ban img {
  object-fit: contain;
}
.banner__titulo{
    margin-bottom: 20px;
    font-weight: bold;
}
.banner__txt{
    font-weight: bold;
   
}
.ban .contenedor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  color: #fff;
  text-align: center;
}

/*-------Estilos de Info------*/
.info {
  /* background: #494a4a78; */
  color: #fff;
  text-align: center;
  color: #101110;
  padding-bottom: 25px;
}

.info__img {
  margin: 25px;
  border-radius: 15px;
  border: 3px solid rgb(250, 250, 252);
  width: 100%;
  height: 55%;
}

.info__txt {
  font-size: 20px;
  color: white;
  margin: 15px;
}

.info__titulo {
  font-size: 40px;
  color: rgb(51, 58, 209);
  margin: 15px;
  font-weight: bold;
}

/*-------- Estilos de Platos--------*/

.platos {
  color: #fff;
  text-align: center;
  /* background:  #494a4a78; */
  text-align: center;
  font-size: 30px;
}

.platos__titulo {
  font-size: 40px;
  color: white;
  margin-top: 20px;
  margin-left: 20px;
}

.platos__txt {
  text-align: justify;
  padding: 50px;
}

.platos__img {
  border-radius: 10%;
  border: 1px solid #fff;
  padding: 5px;
  object-fit: cover;
}

.btn {
  background: #3333e467;
  text-decoration: none;
  color: hsl(180, 30%, 96%);
  padding: 12px 30px;
  border-radius: 10px;
  text-transform: uppercase;
}

.comida p {
  font-family: sans-serif;
  color: #3333e467;
  font-size: 30px;
  padding: 2px;
  font-weight: bold;
}

/*-------- Estilos de Platos  efecto degradado/efecto hover--------*/

.linea {
  position: absolute;
  background: linear-gradient(#4c4d4e, #56aa75);
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.platos .platos__columna:hover .linea {
  top: 0px;
}

.platos__columna h2:hover {
  color: #000;
}

.platos__columna {
  position: relative;
  text-align: center;
  width: 100%;
  height: 500px;
  margin: 10px;
  overflow: hidden;
}

.comida {
  position: absolute;
  border: 2px solid #686de7;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  padding: 15px 1px;
}

.platos__img {
  border-radius: 15%;
  border: 4px solid #fff;
}

.platos__columna h2 {
  font-size: 35px;
  margin: 0 0 10px;
  color: #fff;
  transition: 3.5 all;
}

/*---------- Estilos video ceviche----------*/
.video-ceviche {
  margin: 20px 5px;
}

/*---------- Estilos del  Mapa----------*/
.mapa {
  padding: 50px;
  text-align: center;
  /* background-color: #494a4a78 ; */
}

.mapa h3 {
  color: white;
  font-size: 40px;
}

.mapa p {
  text-align: justify;
  font-size: 25px;
  color: #1b7c42;
  margin-bottom: 25px;
}

/*--------Estilos del footer--------*/
.footer {
  background: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 25px;
}

.footer img {
  width: 50px;
  margin: 10px;
  border: 5px solid #fff;
  border-radius: 50%;
}

.sam {
  background: #000000;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.sam a {
  text-decoration: none;
  color: white;
  padding: 40px;
  padding-top: 10px;
}

/*--------Estilos Responsive--------*/
@media (min-width: 480px) {
  .main img {
    max-width: 90%;
  }

  .contenedor .banner__titulo {
    font-size: 44px;
  }

  .contenedor .banner__txt {
    font-size: 25px;
  }

  .info__columna {
    width: 30%;
  }

  .info .contenedor {
    display: flex;
    justify-content: space-between;
  }

  .platos .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .platos__columna {
    width: 40%;
    height: 515px;
  }

  .btn {
    width: 40%;
    padding: 10px 20px;
    height: 10px;
  }

  .platos h3 {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .platos__columna {
    width: 24%;
    height: 515px;
  }

  .btn {
    width: 40%;
    padding: 10px 24px;
    height: 10px;
  }
}

@media (min-width: 1024px) {
  .nav {
    position: static;
    width: auto;
  }

  .menu {
    display: flex;
  }

  .icon-menu {
    display: none;
  }

  .menu__link {
    border: none;
  }

  .banner .contenedor .banner__titulo {
    font-size: 50px;
  }

  .banner .contenedor .banner__txt {
    font-size: 36px;
  }

  .contenedor {
    width: 1000px;
  }
}

@media (min-width: 1280px) {
  .contenedor {
    width: 1200px;
  }

  .banner .contenedor .banner__titulo {
    font-size: 90px;
  }

  .banner .contenedor .banner__txt {
    font-size: 46px;
  }
}
