body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
   background: url(fondo/5rtf.jpeg);
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.header .conte img{
    object-fit: contain;
    width: 300px;
    height: 85px;
   filter: drop-shadow(10px 15px 10px #ffffff); 
}
.formulario{
    background: #fff;
    margin-top: 150px;
    padding: 3px;
}
h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.formulario .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.button:hover{
    background: cadetblue;
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
      color: #1a2537;
    font-weight: 600;
}
.link:hover{
     color: cadetblue;
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}



.header {
    height: 100px;
      background: rgb(17, 17, 17);
     
  }
  .header .conte {
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    background: rgba(6, 6, 6, 0.9);
  }
  .logo, .icon-menu {
    margin: 8px;
    color: #fff;
    
  }
  .icon-menu {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 40px;
    background: rgb(196, 19, 19);
    color: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 8px;
    margin-left: auto;
    cursor: pointer;
  }
  .nav {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    transition: all 0.5s;
         z-index: 100;
  }
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
      height: 60px; 
  }
  .menu__link {
    font: 11px verdana;
    display: block;
    padding: 45px 25px;
   background: rgba(51,51,51,0.9);
    text-decoration: none;
    color: #fff; 
  height: 100px ;
  font-size: 20px;
      border-bottom: 5px solid #fff;
  }
  .menu__link:hover {
    background: white;
    color: #000;  
  }
  .muestrate{
   left: 0;
  }
  *{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif; 
}
.main img{

    max-width: 80%;
}
.logo{
    width: 300px;
    height: 80px;
    
}
.conte{
    width: 100%;
	margin: auto;
 
}





@media(min-width:480px){
    .main img{
    max-width: 90%;
}
    
    
	
    
    .platos .conte{  
     display: flex; 
     flex-wrap: wrap;
     justify-content:space-around;
}
    .platos__columna{
        width:  40%;
    }
    .platos h3{
        font-size: 30px;
    }
}




@media(min-width:768px){
      .platos__columna{
        width: 24%; 
    } 
}





@media(min-width:1024px){
	.nav {
    position: static;
    width: auto;
  }
  .menu {
    display: flex;
  }
  .icon-menu {
    display: none;
  }
	.menu__link{
		border: none;
	}
    .banner .conte .banner__titulo{
        font-size: 50px;  
    }
     .banner .conte .banner__txt{
        font-size: 36px; 
    }
    .conte{
        width:1000px;
    }
   
}




@media(min-width:1280px){
    .conte{
        width: 1200px;
    }
     .banner .conte .banner__titulo{
        font-size: 90px; 
		
    }
     .banner .conte .banner__txt{
        font-size: 46px; 
    }
	
	
}